// Fonts
@font-face {
    font-family: "CirceRegular";
    src: url("../fonts/Circe-Regular.eot"), url("../fonts/Circe-Regular.ttf"), url("../fonts/Circe-Regular.woff");
    font-weight: 400;
}
@font-face {
    font-family: "CirceExtraBold";
    src: url("../fonts/Circe-ExtraBold.eot"), url("../fonts/Circe-ExtraBold.ttf"), url("../fonts/Circe-ExtraBold.woff");
    font-weight: 800;
}

$Arial: Arial, sans-serif;
$CirceReg: "CirceRegular", Helvetica, Arial, sans-serif;
$CirceExt: "CirceExtraBold", Helvetica, Arial, sans-serif;

// Color

$white: #ffffff;
$gray0: #1a1e22;
$gray1: #362c2d;
$gray2: #3f4943;
$gray3: #5b675e;
$gray4: #dee7e1;
$green: #62cc82;

$b-sh: 0px 37px 51px 0px rgba(119, 119, 99, 0.21);

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    font-size: 16px;
    margin: 0;
}
body {
    max-width: 1920px;
    font-family: $CirceReg;
    color: $gray1;
    margin: 0 auto;
}
a, 
button,
input {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
button {
    font-family: inherit;
    border: none;
}
a:focus,
button:focus,
input:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.title-h2 {
    font-size: 36px;
    line-height: 37.86px;
    text-align: center;
    @media(max-width: 768px) {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    &::after {
        content: '';
        display: block;
        width: 143px;
        height: 3px;
        background-color: $green;
        margin: 32px auto 2px;
    }
}
.title-h3 {
    font-family: $CirceExt;
    font-size: 50.76px;
    line-height: 37.86px;
    color: $white;
}
.text-arial {
    font-family: $Arial;
    font-size: 20px;
    line-height: 32px;
    @media(max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media(max-width: 480px) {
        font-size: 14px;
        line-height: 20px;
    }
    &--green {
        color: $green;
        display: inline-block;
        line-height: 21px;
        border-bottom: 1px solid $green;
    }
    &--italic {
        font-style: italic;
    }
}
.btn {
    display: block;
    min-width: 264px;
    height: 61px;
    background-color: transparent;
    border: 6px solid;
    font-size: 26px;
    padding: 0 31px;
    margin: 0 auto;
    cursor: pointer;
    @media(max-width: 1024px) {
        border: 3px solid;
        font-size: 20px;
    }
    @media(max-width: 768px) {
        min-width: 200px;
        height: 50px;
    }
    @media(max-width: 480px) {
        height: 40px;
        font-size: 18px;
    }
}
.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: rgba(26, 30, 34, 0.8);
    &__wrapper {
        max-width: 1440px;
        min-height: 63px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 218px 0 131px;
        margin: 0 auto;
        @media(max-width: 768px) {
            padding: 0 50px;
        }
        @media(max-width: 480px) {
            padding: 0 16px;
        }
    }
    &__link {
        width: 68px;
        height: 40px;
    }
    &__burger {
        width: 0;
        height: 0;
        @media(max-width: 1024px) {
            position: absolute;
            z-index: 2;
            right: 100px;
            top: 18px;
            min-width: auto;
            width: 30px;
            height: 30px;
            border: 1px solid $white;
            cursor: pointer;
            transition: .4s;
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                right: 6px;
                width: 16px;
                height: 2px;
                background-color: $white;
                transition: .4s;
            }
            &::after {
                top: 17px;
            }
            &.active {
                &::before,
                &::after {
                    background-color: $gray0;
                    cursor: pointer;
                }
                &::before {
                    top: 17px;
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
        @media(max-width: 768px) {
            right: 50px;
        }
        @media(max-width: 480px) {
            right: 16px;
        }
    }
}
.nav {
    min-width: 66.7%;
    display: flex;
    justify-content: space-between;
    &__item {
        font-size: 20px;
        color: $white;
        &:hover {
            color: $green;
        }
    }
    @media(max-width: 1024px) {
        min-width: 200px;
        position: absolute;
        right: 100px;
        top: 18px;
        &__item {
            overflow: hidden;
            visibility: hidden;
        }
        &.active {
            height: auto;
            flex-direction: column;
            background-color: $white;
            align-items: flex-end;
            padding: 40px 20px;
            cursor: inherit;
            transition: .4s;
            & .nav__item {
                overflow: visible;
                visibility: visible;
                color: $gray1;
                margin-bottom: 15px;
                &:hover {
                    color: $green;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media(max-width: 768px) {
        right: 50px;
    }
    @media(max-width: 480px) {
        right: 16px;
    }
}
.section {
    &-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 738px;
        background-image: url(../img/picture/bg1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0 50px 122px;
        @media(max-width: 1024px) {
            height: 500px;
            padding: 0 20px 122px;
        }
        @media(max-width: 768px) {
            padding: 0 20px 87px;
        }
        &__title {
            max-width: 1200px;
            font-family: $CirceExt;
            font-size: 60.59px;
            line-height: 57.54px;
            color: $white;
            text-align: center;
            margin-bottom: 60px;
            @media(max-width: 1024px) {
                font-size: 48px;
                line-height: 54px;
            }
            @media(max-width: 768px) {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 30px;
            }
            @media(max-width: 480px) {
                font-size: 28px;
                line-height: 34px;
            }
        }
        &__btn {
            border-color: $white;
            color: $white;
        }
    }
    &-we {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 92px;
        @media(max-width: 768px) {
            padding-top: 60px;
        }
        &__subtitle {
            text-align: center;
            margin-bottom: 75px;
            @media(max-width: 768px) {
                margin-bottom: 50px;
            }
        }
        &__list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 236px);
            grid-template-rows: minmax(244px, auto);
            justify-content: center;
            background-color: $gray4;
            @media(max-width: 1440px) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: minmax(198px, auto);
                grid-gap: 1px;
                background-color: transparent;
            }
            @media(max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media(max-width: 480px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: minmax(130px, auto);
            }
        }
        &__item {
            text-align: center;
            border-right: 1px solid $white;
            padding: 44px 35px;
            &:last-child {
                border-right: none;
            }
            @media(max-width: 1440px) {
                border-right: none;
                background-color: $gray4;
                padding: 44px 13px;
            }
            @media(max-width: 480px) {
                padding: 20px 13px;
            }
        }
        &__number {
            display: block;
            font-family: $CirceExt;
            font-size: 113.93px;
            line-height: 106.76px;
            color: $gray3;
            @media(max-width: 1440px) {
                font-size: 80px;
                line-height: 90px;
            }
            @media(max-width: 480px) {
                font-size: 50px;
                line-height: 60px;
            }
        }
        &__text {
            display: block;
            font-size: 23.64px;
            line-height: 22px;
            @media(max-width: 1440px) {
                font-size: 20px;
                line-height: 23px;
            }
            @media(max-width: 1440px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    &-services {
        padding-top: 92px;
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: minmax(514px, auto);
            @media(max-width: 1440px) {
                grid-template-rows: minmax(400px, auto);
            }
            @media(max-width: 1024px) {
                display: flex;
            }
        }
        &__title {
            margin-bottom: 38px;
        }
        &__subtitle {
            max-width: 943px;
            text-align: center;
            margin: 0 auto 48px;
            @media(max-width: 768px) {
                margin-bottom: 50px;
            }
        }
        &__list {
            margin-bottom: 74px;
            @media(max-width: 768px) {
                margin-bottom: 50px;
            }
        }
        &__item {
            position: relative;
            &-title,
            &-subtitle {
                position: absolute;
                z-index: 10;
                left: 51px;
            }
            &-title {
                top: 90px;
                left: 51px;
                max-width: 245px;
                @media(max-width: 768px) {
                    top: 60px;
                    left: 50px;
                }
                @media(max-width: 480px) {
                    max-width: 225px;
                    font-size: 30px;
                    line-height: 30px;
                    top: 40px;
                }
            }
            &-subtitle {
                max-width: 262px;
                top: 216px;
                display: none;
                color: $white;
                @media(max-width: 1024px) {
                    display: block;
                }
                @media(max-width: 768px) {
                    top: 162px;
                }
                @media(max-width: 480px) {
                    max-width: 250px;
                    top: 118px;
                }
            }
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(136, 231, 165, 0.78);
                    @media(max-width: 1024px) {
                        position: unset;
                    }
                }
                & .section-services__item-subtitle {
                    display: block;
                }
            }
        }
        &__img {
            display: block;
            width: 100%;
            height: 514px;
            object-fit: cover;
            @media(max-width: 1440px) {
                height: 400px;
            }
            @media(max-width: 768px) {
                height: 350px;
            }
            @media(max-width: 480px) {
                height: 250px;
            }
        }
        &__btn {
            border-color: $green;
            color: $green;
        }
    }
    &-album {
        padding-top: 105px;
        &__title {
            margin-bottom: 66px;
            @media(max-width: 768px) {
                margin-bottom: 44px;
            }
        }
        &__list {
            display: grid;
            grid-template-columns: 25% 24% 19% 32%;
            grid-template-rows: 383.5px;
            justify-content: center;
            @media(max-width: 1024px) {
                grid-template-columns: repeat(3, 33.3%);
                grid-template-rows: 200px;

            }
            @media(max-width: 480px) {
                grid-template-rows: 150px;
            }
            & .album1 {
                grid-column-start: 1;
                grid-column-end: 3;
                @media(max-width: 1024px) {
                    grid-column-end: 2;
    
                }
            }
            & .album2 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
                @media(max-width: 1024px) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
    
                }
            }
            & .album4 {
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-elephants {
        padding-top: 96px;
        &__title {
            margin-bottom: 77px;
            @media(max-width: 768px) {
                margin-bottom: 44px;
            }
        }
        &__banner {
            position: relative;
            margin-bottom: 331px;
            @media(max-width: 1440px) {
                margin-bottom: 80px;
            }
        }
        &__img {
            display: block;
            height: 100%;
            object-fit: cover;
            @media(max-width: 1440px) {
                width: 100%;
                height: auto;
            }
        }
        &__text {
            max-width: 588px;
            position: absolute;
            bottom: -110px;
            right: 426px;
            color: #362c2d;
            background-color: #ffffff;
            padding: 59px 42px 59px 61px;
            box-shadow: $b-sh;
            @media(max-width: 1440px) {
                position: unset;
                max-width: 100%;
                width: 100%;
                box-shadow: none;
            }
            @media(max-width: 768px) {
                padding: 45px 50px;
            }
            @media(max-width: 480px) {
                padding: 30px 30px;
            }
        }
        &__btn {
            border-color: $green;
            color: $green;
            position: absolute;
            bottom: -250px;
            top: 129%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media(max-width: 1440px) {
                position: unset;
                margin-top: 50px;
                transform: none;
            }
            @media(max-width: 480px) {
                margin-top: 0;
            }
        }
    }
    &-reviews {
        background-color: $gray4;
        padding: 83px 0 93px;
        @media(max-width: 480px) {
            padding: 60px 0 60px;
        }
        &__title {
            margin-bottom: 81px;
            @media(max-width: 480px) {
                margin-bottom: 50px;
            }
        }
        &__list {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 auto 119px;
            @media(max-width: 1024px) {
                flex-direction: column;
                align-items: center;
                padding: 0 60px;
            }
            @media(max-width: 480px) {
                padding: 0 20px;
                margin: 0 auto 60px;
            }
        }
        &__item {
            position: relative;
            padding: 0 40px 0 130px;
            width: 33.3%;
            @media(max-width: 1024px) {
                width: 100%;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @media(max-width: 768px) {
                padding: 110px 0 0 0;
                text-align: center;
            }
            &-img {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                @media(max-width: 1024px) {
                    top: -13px;
                }
                @media(max-width: 768px) {
                    top: 43px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &-title {
                font-size: 19px;
                line-height: 22.9px;
                margin: 5px 0;
            }
            &-subtitle {
                font-family: $Arial;
                font-size: 14px;
                line-height: 21px;
            }
        }
        &__phrases {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 55px;
            margin: 0 auto;
            @media(max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }
            @media(max-width: 768px) {
                padding: 0 30px;
            }
            @media(max-width: 480px) {
                padding: 0 16px;
            }
        }
        &__phrase {
            width: 545px;
            @media(max-width: 1024px) {
                width: auto;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-text {
                position: relative;
                min-height: 81px;
                font-family: $Arial;
                font-size: 20px;
                line-height: 27px;
                padding: 0 67px 0 78px;
                margin-bottom: 16px;
                @media(max-width: 480px) {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 0 30px 0 40px;
                }
                &::before,
                &::after {
                    content: '«';
                    position: absolute;
                    font-size: 117.76px;
                    color: $green;
                    @media(max-width: 480px) {
                        font-size: 50px;
                    }
                }
                &::before {
                    bottom: 28px;
                    left: 0;
                    @media(max-width: 480px) {
                        bottom: 9px;
                    }
                }
                &::after {
                    top: 22px;
                    right: 0;
                    transform: rotate(180deg);
                    @media(max-width: 480px) {
                        top: 8px;
                    }
                }
            }
            &-author {
                float: right;
            }
        }
    }
    &-team {
        padding: 93px 0 80px;
        @media(max-width: 480px) {
            padding: 60px 0;
        }
        &__title {
            margin-bottom: 35px;
        }
        &__subtitle {
            max-width: 840px;
            text-align: center;
            margin: 0 auto 55px;
            @media(max-width: 480px) {
                max-width: 260px;
            }
        }
        &__list {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 10px;
            margin: 0 auto;
            @media(max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 25px;
            @media(max-width: 768px) {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-img {
                display: block;
            }
            &-photo {
                position: relative;
                margin-bottom: 37px;
                @media(max-width: 768px) {
                    margin-bottom: 25px;
                }
            }
            &-name,
            &-position {
                text-align: center;
            }
            &-name {
                font-size: 26px;
                line-height: 28.86px;
                margin-bottom: 9px;
            }
            &-position {
                font-family: $Arial;
                font-size: 16px;
                line-height: 23px;
            }
            &-social {
                width: 207px;
                position: absolute;
                z-index: 100;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                justify-content: space-between;
                align-items: center;
            }
            &-link {
                display: block;
                width: 46px;
                height: 46px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            &:hover {
                & .section-team__item-photo::before {
                    content: '';
                    position: absolute;
                    top: -10px;
                    right: 14px;
                    z-index: 100;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(136, 231, 165, 0.78);
                    @media(max-width: 1024px) {
                        position: unset;
                    }
                }
                & .section-team__item-social {
                    display: flex;
                    @media(max-width: 1024px) {
                        display: none;
                    }
                }
            }
        }
    }
    &-successes {
        padding: 31px 0 80px;
        @media(max-width: 480px) {
            padding: 30px 0;
        }
        &__title {
            margin-bottom: 35px;
        }
        &__subtitle {
            max-width: 780px;
            text-align: center;
            margin: 0 auto 61px;
            @media(max-width: 480px) {
                margin: 0 auto 40px;
                padding: 0 16px;
            }
        }
        &__list {
            max-width: 1440px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 35px;
            margin: 0 auto;
            @media(max-width: 1024px) {
                padding: 0 30px;
                grid-gap: 20px;
            }
            @media(max-width: 768px) {
                padding: 0 16px;
                grid-gap: 10px;
            }
            @media(max-width: 480px) {
                grid-template-columns: 1fr;
                grid-gap: 30px;
            }
        }
        &__item {
            position: relative;
            &-img {
                display: block;
                width: 100%;
            }
            &-text {
                display: none;
                max-width: 294px;
                position: absolute;
                z-index: 100;
                top: 45%;
                right: -15%;
                transform: translate(-50%, -50%);
                font-family: $CirceExt;
                font-size: 50.76px;
                line-height: 37.86px;
                color: $white;
                @media(max-width: 1440px) {
                    top: 30%;
                    left: 16%;
                    font-size: 40px;
                    transform: none;
                }
                @media(max-width: 1024px) {
                    display: block;
                    position: unset;
                    text-align: center;
                    font-size: 24px;
                    line-height: 28px;
                    color: $gray1;
                    margin-top: 10px;
                }
                @media(max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 100;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(136, 231, 165, 0.78);
                    @media(max-width: 1024px) {
                        position: unset;
                    }
                }
                & .section-successes__item-text {
                    display: block;
                }
            }
        }
    }
    &-blog {
        padding: 32px 0 93px;
        @media(max-width: 480px) {
            padding: 30px 0;
        }
        &__title {
            margin-bottom: 72px;
            @media(max-width: 480px) {
                margin-bottom: 40px;
            }
        }
        &__list {
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 10px;
            margin: 0 auto 52px;
            @media(max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
        &__item {
            position: relative;
            padding: 0 25px;
            @media(max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-img {
                display: block;
                height: 221px;
                object-fit: cover;
            }
            &-photo {
                position: relative;
                margin-bottom: 30px;
                @media(max-width: 768px) {
                    margin-bottom: 25px;
                }
            }
            &-date {
                position: absolute;
                bottom: 21px;
                left: 0;
                font-family: $CirceExt;
                font-size: 27.17px;
                color: $white;
                background-color: rgba(98, 204, 130, 0.9);
                padding: 9px 17px 7px;
            }
            &-title {
                font-size: 22px;
                line-height: 37.86px;
                margin-bottom: 2px;
                @media(max-width: 480px) {
                    width: 100%;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &-subtitle {
                font-family: $Arial;
                font-size: 16px;
                line-height: 22px;
                @media(max-width: 480px) {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        &__btn {
            height: 73px;
            background-color: $green;
            color: $white;
            @media(max-width: 480px) {
                height: 48px;
            }
        }
    }
    &-contacts {
        background-color: $gray4;
        padding: 82px 0;
        @media(max-width: 480px) {
            padding: 30px 0;
        }
        &__title {
            margin-bottom: 82px;
            @media(max-width: 768px) {
                margin-bottom: 60px;
            }
            @media(max-width: 480px) {
                margin-bottom: 40px;
            }
        }
        &__list {
            max-width: 900px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 50px;
            margin: 0 auto;
            @media(max-width: 1024px) {
                flex-direction: column;
                align-items: center;
            }
            @media(max-width: 480px) {
                align-items: flex-start;
                padding: 0 16px;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            @media(max-width: 1024px) {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &-link {
                position: relative;
                font-family: $Arial;
                font-size: 39.68px;
                line-height: 49.02px;
                color: $gray1;
                margin-bottom: 70px;
                @media(max-width: 1024px) {
                    padding-left: 80px;
                }
                @media(max-width: 768px) {
                    font-size: 34px;
                    line-height: 40px;
                    margin-bottom: 50px;
                }
                @media(max-width: 480px) {
                    font-size: 20px;
                    line-height: 26px;
                    padding-left: 50px;
                    margin-bottom: 40px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover {
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $green;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -83px;
                    width: 60px;
                    height: 60px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    @media(max-width: 1024px) {
                        left: 0;
                    }
                    @media(max-width: 480px) {
                        width: 40px;
                        height: 40px;
                    }
                }
                &.tel::before {
                    background-image: url(../img/icons/phone.png);
                }
                &.mail::before {
                    background-image: url(../img/icons/mail.png);
                }
            }
        }
    }
    &-mailing {
        padding: 102px 0 73px;
        @media(max-width: 768px) {
            padding: 60px 0;
        }
        @media(max-width: 480px) {
            padding: 30px 16px;
        }
        &__title {
            margin-bottom: 35px;
        }
        &__subtitle {
            max-width: 700px;
            text-align: center;
            margin: 0 auto 50px;
            @media(max-width: 480px) {
                margin: 0 auto 30px;
            }
        }
        &__form {
            max-width: 710px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto 40px;
            @media(max-width: 768px) {
                flex-direction: column;
            }
        }
        &__input {
            width: 345px;
            height: 61px;
            background-color: $white;
            border: 1px solid $green;
            font-size: 20px;
            padding: 0 20px;
            @media(max-width: 768px) {
                height: 50px;
                margin-bottom: 20px;
                &:last-child {
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
            @media(max-width: 480px) {
                width: 100%;
            }
        }
        &__btn {
            min-width: 371px;
            border: none;
            background-color: $green;
            color: $white;
            @media(max-width: 768px) {
                min-width: 300px;
            }
        }
    }
}
.footer {
    background-color: $gray1;
    padding: 67px 0 37px;
    @media(max-width: 480px) {
        padding: 30px 0;
    }
    &__wrapper {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 80px;
        margin: 0 auto;
        @media(max-width: 1440px) {
            padding: 0 30px;
        }
        @media(max-width: 480px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__social {
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 768px) {
            width: 220px;
        }
        @media(max-width: 768px) {
            width: 250px;
        }
    }
    &__link {
        width: 64px;
        height: 64px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @media(max-width: 768px) {
            width: 50px;
            height: 50px;
        }
    }
}
.fb {
    background-image: url(../img/icons/fb.png);
}
.inst {
    background-image: url(../img/icons/inst.png);
}
.ytb {
    background-image: url(../img/icons/ytb.png);
}
.pnt {
    background-image: url(../img/icons/pnt.png);
}
.item-address {
    font-family: $Arial;
    font-size: 17px;
    line-height: 21px;
    &__block {
        margin-bottom: 21px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__city {
        text-transform: uppercase;
    }
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    color: $green;
    @media(max-width: 1024px) {
        display: block;
    }
}
